@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
html {
  background-color: #F4F2EE; }

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.form_section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form_section .form_cuadro {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #DFDEDA; }
    .form_section .form_cuadro form {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 20px; }
      .form_section .form_cuadro form h1 {
        color: #0A66C2;
        margin: 15px; }
      .form_section .form_cuadro form input {
        height: 20px;
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #DFDEDA;
        color: #767676; }
        .form_section .form_cuadro form input::placeholder {
          color: #c9c8c3; }
        .form_section .form_cuadro form input:focus {
          outline: 2px solid #79b4f0; }
      .form_section .form_cuadro form select {
        border-radius: 10px;
        border: 1px solid #DFDEDA;
        color: #767676;
        padding: 10px;
        margin: 10px; }
      .form_section .form_cuadro form button {
        height: 40px;
        width: 100px;
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: #0A66C2;
        border: none;
        color: aliceblue;
        font-weight: 900;
        cursor: pointer; }
        .form_section .form_cuadro form button:hover {
          background-color: #0a4580; }
      .form_section .form_cuadro form label {
        color: #0A66C2; }
      .form_section .form_cuadro form p {
        color: #ec3832;
        display: none; }
  .form_section p {
    text-decoration: none;
    margin: 10px;
    color: #0A66C2; }
    .form_section p a {
      text-decoration: none;
      margin: 10px;
      color: #796d6d; }
      .form_section p a:hover {
        color: #79b4f0;
        font-weight: 900; }

header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: -3px 9px 9px -6px #00000066;
  -webkit-box-shadow: -3px 9px 9px -6px #00000066;
  -moz-box-shadow: -3px 9px 9px -6px #00000066; }
  header nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #DFDEDA; }
    header nav .logo_container {
      margin-left: 20px;
      display: flex;
      align-items: center; }
      header nav .logo_container img {
        width: 50px;
        height: 50px; }
      header nav .logo_container h1 {
        color: #0A66C2; }
    header nav .head_buscador {
      width: 30%;
      height: 30px;
      padding-left: 10px; }
    header nav ul {
      display: flex; }
      header nav ul li {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
        header nav ul li .amistad_notification {
          position: relative; }
          header nav ul li .amistad_notification div {
            position: absolute;
            height: 20px;
            width: 20px;
            top: 0;
            right: 0;
            align-items: center; }
            header nav ul li .amistad_notification div p {
              display: flex;
              border-radius: 50%;
              border: 2px solid #FFFFFF;
              justify-content: center;
              align-items: center;
              font-size: 10px;
              color: #FFFFFF;
              background-color: #ec3832;
              height: 20px;
              width: 20px; }
          header nav ul li .amistad_notification i {
            color: #767676;
            cursor: pointer;
            font-size: 35px; }
            header nav ul li .amistad_notification i:hover {
              color: #79b4f0; }
        header nav ul li a {
          color: #767676;
          cursor: pointer;
          font-weight: 700; }
          header nav ul li a:hover {
            color: #79b4f0; }

.estado {
  width: 90%;
  padding: 5px;
  margin: 10px 0px 10px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #DFDEDA;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 5px 30px 5px; }
  .estado .titulo_publicacion {
    display: flex;
    justify-content: start;
    margin-bottom: 10px; }
    .estado .titulo_publicacion a h3 {
      color: #423e3e; }
    .estado .titulo_publicacion .foto_publicacion {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background-color: #DFDEDA;
      margin-right: 10px;
      border-radius: 50%;
      background-position: center; }
  .estado .texto_publicacion {
    margin: 10px 0px 10px;
    padding: 5px 5px 15px;
    color: #767676;
    background-color: #EDF3F8;
    border-radius: 5px;
    white-space: nowrap; }
  .estado div {
    display: flex;
    justify-content: space-between; }

.agregar_estado_container {
  padding: 5px; }
  .agregar_estado_container p {
    margin: 5px;
    width: 100%;
    text-align: left; }
    .agregar_estado_container p i {
      margin: 5px; }
  .agregar_estado_container div textarea {
    width: 96%;
    margin: 5px;
    align-self: center;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    background-color: #EDF3F8; }
    .agregar_estado_container div textarea:focus {
      outline: 2px solid #79b4f0; }
  .agregar_estado_container button {
    height: 40px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #0A66C2;
    border: none;
    color: aliceblue;
    font-weight: 900;
    cursor: pointer; }
    .agregar_estado_container button:hover {
      background-color: #0a4580; }

.estado_perfil {
  display: none; }

.modal_fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2; }
  .modal_fondo .modal_content {
    height: 500px;
    width: 300px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 15px; }
    .modal_fondo .modal_content .foto_preview {
      height: 200px;
      width: 200px;
      background-color: #c9c8c3;
      border-radius: 50%;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png");
      background-size: cover;
      background-position: center;
      border: 5px solid #c9c8c3; }
    .modal_fondo .modal_content h2 {
      color: #0A66C2;
      margin-top: 20px; }
    .modal_fondo .modal_content i {
      color: #767676;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 30px;
      cursor: pointer; }
    .modal_fondo .modal_content form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px; }
      .modal_fondo .modal_content form input {
        height: 20px;
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #DFDEDA;
        color: #767676; }
        .modal_fondo .modal_content form input::placeholder {
          color: #c9c8c3; }
        .modal_fondo .modal_content form input:focus {
          outline: 2px solid #79b4f0; }
    .modal_fondo .modal_content button {
      height: 40px;
      width: 100px;
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: #0A66C2;
      border: none;
      color: aliceblue;
      font-weight: 900;
      cursor: pointer; }
      .modal_fondo .modal_content button:hover {
        background-color: #0a4580; }

.calendario {
  flex-direction: row;
  width: 100%; }
  .calendario select {
    margin: 0; }
  .calendario .anio {
    width: 30%; }

.page_continer {
  display: flex;
  justify-content: center; }
  .page_continer .grid_container {
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "info estado estado estado suge" "info public public public suge" ".    public public public suge" ".    public public public .   " ".    public public public .   ";
    gap: 5px;
    margin: 10px; }
    .page_continer .grid_container .grid_item {
      background-color: #FFFFFF;
      margin: 10px;
      border: 1px solid #DFDEDA;
      box-shadow: 0px 0px 2px 2px #756c6c5c;
      -webkit-box-shadow: 0px 0px 2px 2px #756c6c5c;
      -moz-box-shadow: 0px 0px 2px 2px #756c6c5c; }
    .page_continer .grid_container .info_section {
      grid-area: info;
      height: 430px;
      border-radius: 15px; }
      .page_continer .grid_container .info_section .home_foto_container {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .page_continer .grid_container .info_section .home_foto_container .home_foto {
          height: 200px;
          width: 200px;
          background-color: #c9c8c3;
          text-align: center;
          background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png");
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          box-shadow: 2px 9px 42px -1px #000000bf inset;
          -webkit-box-shadow: 2px 9px 42px -1px #000000bf inset;
          -moz-box-shadow: 2px 9px 42px -1px #000000bf inset; }
      .page_continer .grid_container .info_section .nombre_container {
        padding: 10px;
        text-align: center; }
        .page_continer .grid_container .info_section .nombre_container a h2 {
          margin: 5px 0px 5px;
          font-size: auto;
          cursor: pointer;
          color: #0A66C2; }
          .page_continer .grid_container .info_section .nombre_container a h2:hover {
            color: #0a4580; }
      .page_continer .grid_container .info_section .info_continer {
        padding: 15px; }
        .page_continer .grid_container .info_section .info_continer ul li {
          margin-top: 5px; }
          .page_continer .grid_container .info_section .info_continer ul li i {
            color: #666666;
            margin-right: 5px; }
    .page_continer .grid_container .estado_section {
      grid-area: estado;
      border-radius: 15px;
      padding: 5px; }
    .page_continer .grid_container .public_section {
      grid-area: public;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      border-radius: 15px;
      overflow-y: auto; }
      .page_continer .grid_container .public_section .estados_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        height: auto;
        flex: 1; }
    .page_continer .grid_container .sugerencia_section {
      grid-area: suge;
      border-radius: 15px;
      overflow: hidden;
      height: 500px; }
      .page_continer .grid_container .sugerencia_section .sugerencias_title {
        padding: 5px;
        background-color: #EDF3F8; }
      .page_continer .grid_container .sugerencia_section .sugerencias {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        overflow: scroll; }
        .page_continer .grid_container .sugerencia_section .sugerencias div {
          padding: 5px;
          display: flex; }
          .page_continer .grid_container .sugerencia_section .sugerencias div .foto_container {
            width: 30%;
            display: flex;
            justify-content: center; }
            .page_continer .grid_container .sugerencia_section .sugerencias div .foto_container .foto {
              height: 50px;
              width: 50px;
              background-color: #c9c8c3;
              display: flex;
              justify-content: center;
              align-items: center;
              background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png");
              background-size: cover;
              background-position: center;
              border-radius: 50%; }
          .page_continer .grid_container .sugerencia_section .sugerencias div div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .page_continer .grid_container .sugerencia_section .sugerencias div div h4 {
              font-size: 15px;
              color: #423e3e; }
              .page_continer .grid_container .sugerencia_section .sugerencias div div h4:hover {
                color: #0a4580; }
            .page_continer .grid_container .sugerencia_section .sugerencias div div a {
              color: #0A66C2;
              cursor: pointer;
              font-weight: 900px; }

.page_continer {
  display: flex;
  justify-content: center; }
  .page_continer .grid_container_perfil {
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "banner banner banner banner banner" "public public public public public" "acerca estado estado estado estado";
    gap: 20px;
    margin: 20px; }
    .page_continer .grid_container_perfil .grid_item {
      background-color: #FFFFFF;
      border-radius: 15px;
      border: 1px solid #DFDEDA;
      box-shadow: 0px 0px 2px 2px #756c6c5c;
      -webkit-box-shadow: 0px 0px 2px 2px #756c6c5c;
      -moz-box-shadow: 0px 0px 2px 2px #756c6c5c; }
    .page_continer .grid_container_perfil .banner_section {
      grid-area: banner;
      border-radius: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      border-radius: 15px;
      overflow: hidden; }
      .page_continer .grid_container_perfil .banner_section div {
        position: relative; }
        .page_continer .grid_container_perfil .banner_section div .banner_container {
          height: 450px;
          background-image: linear-gradient(#00000000, #00000080), url("https://www.guardianoffshore.com.au/wp-content/uploads/2015/03/banner-placeholder.jpg");
          background-size: cover;
          background-position: center; }
        .page_continer .grid_container_perfil .banner_section div img {
          width: 100%; }
        .page_continer .grid_container_perfil .banner_section div h2 {
          position: absolute;
          left: 250px;
          bottom: 5%;
          font-size: 30px;
          color: #FFFFFF; }
      .page_continer .grid_container_perfil .banner_section .foto_perfil {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: #c9c8c3;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 2%;
        left: 3%;
        border: 5px solid #FFFFFF;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png");
        background-size: cover;
        background-position: center;
        overflow: hidden; }
        .page_continer .grid_container_perfil .banner_section .foto_perfil .cambioFoto {
          display: none;
          height: 100%;
          width: 100%;
          background-color: transparent;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          display: none;
          transition: 1.1s; }
          .page_continer .grid_container_perfil .banner_section .foto_perfil .cambioFoto a {
            color: transparent;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 15%;
            transition: 1.1s; }
          .page_continer .grid_container_perfil .banner_section .foto_perfil .cambioFoto:hover {
            background-color: #00000054; }
            .page_continer .grid_container_perfil .banner_section .foto_perfil .cambioFoto:hover a {
              color: #FFFFFF; }
      .page_continer .grid_container_perfil .banner_section .seguir {
        right: 10px;
        bottom: 5px; }
        .page_continer .grid_container_perfil .banner_section .seguir button {
          padding: 5px 10px 10px 10px;
          border-radius: 10px;
          background-color: #0A66C2;
          border: none;
          color: aliceblue;
          font-weight: 900;
          cursor: pointer; }
          .page_continer .grid_container_perfil .banner_section .seguir button:hover {
            background-color: #0a4580; }
          .page_continer .grid_container_perfil .banner_section .seguir button i {
            font-size: 20px; }
      .page_continer .grid_container_perfil .banner_section .perfil_nav {
        display: flex;
        justify-content: center;
        padding: 15px; }
        .page_continer .grid_container_perfil .banner_section .perfil_nav ul {
          display: flex; }
          .page_continer .grid_container_perfil .banner_section .perfil_nav ul li {
            margin-right: 40px; }
    .page_continer .grid_container_perfil .acerca_de_section {
      grid-area: acerca;
      height: 500px; }
      .page_continer .grid_container_perfil .acerca_de_section .acercade_title {
        width: 100%;
        height: 50px;
        top: 0; }
        .page_continer .grid_container_perfil .acerca_de_section .acercade_title h2 {
          width: 98%;
          margin: 5px;
          padding: 5px; }
      .page_continer .grid_container_perfil .acerca_de_section .info_item {
        display: flex;
        padding: 20px;
        border-bottom: 1px solid #DFDEDA; }
        .page_continer .grid_container_perfil .acerca_de_section .info_item i {
          font-size: 25px;
          color: #666666; }
        .page_continer .grid_container_perfil .acerca_de_section .info_item div {
          padding: 10px; }
          .page_continer .grid_container_perfil .acerca_de_section .info_item div h3 {
            font-weight: 900;
            color: #0A66C2; }
          .page_continer .grid_container_perfil .acerca_de_section .info_item div p {
            color: #79b4f0; }
    .page_continer .grid_container_perfil .estado_section {
      height: 800px;
      grid-area: estado;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; }
      .page_continer .grid_container_perfil .estado_section .publicaciones_title {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0; }
        .page_continer .grid_container_perfil .estado_section .publicaciones_title h2 {
          width: 98%;
          margin: 5px;
          padding: 5px; }
      .page_continer .grid_container_perfil .estado_section .estados_container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        padding: 20px; }
    .page_continer .grid_container_perfil .publicar_section {
      grid-area: public;
      display: none; }

@media screen and (max-width: 1200px) {
  .page_continer .grid_container {
    grid-template-areas: "info info info info info" "estado estado estado estado estado" "public public public public public" "public public public public public" "public public public public public" "public public public public public" "suge suge suge suge suge"; }
    .page_continer .grid_container .info_section {
      height: 350px; }
      .page_continer .grid_container .info_section .info_continer ul {
        display: flex;
        justify-content: space-around; }
    .page_continer .grid_container .sugerencia_section {
      height: 150px; }
      .page_continer .grid_container .sugerencia_section .sugerencias {
        flex-direction: row;
        justify-content: left; } }

@media screen and (max-width: 1200px) {
  .page_continer .grid_container .info_section {
    height: 430px;
    text-align: center; }
    .page_continer .grid_container .info_section .info_continer ul {
      display: flex;
      justify-content: space-around;
      flex-direction: column; } }
