.estado{
    width: 90%;
    padding: 5px;
    margin: 10px 0px 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid map-get($colores, gris_bordes );
    background-color: map-get($colores, blanco );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 5px 30px 5px;
    .titulo_publicacion {
        display: flex;
        justify-content: start;
        margin-bottom: 10px;
        a {
            h3 {
                color: map-get($colores, gris_nombre);
            }
        }
        .foto_publicacion {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            background-color: map-get($colores, gris_bordes );
            margin-right: 10px;
            border-radius: 50%;
        }
    }
    .texto_publicacion{
        margin: 10px 0px 10px;
        padding: 5px 5px 15px;
        color: map-get($colores, gris_fuente );
        background-color: map-get($colores, azul_text_A );;
        border-radius: 5px;
        white-space: nowrap;
    }
    div {
        display: flex;
        justify-content: space-between;
    }
}