.form_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form_cuadro {
        display: flex;
        flex-direction: column;
        background-color: map-get($colores, blanco );
        border-radius: 15px;
        border: 1px solid map-get($colores, gris_bordes );
        form {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            h1 {
                color: map-get($colores, azul );
                margin: 15px;
            }
            input {
                height: 20px;
                width: 90%;
                margin: 10px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid map-get($colores, gris_bordes );
                color: map-get($colores, gris_fuente);
                &::placeholder {
                    color: map-get($colores, gris_place );
                }
                &:focus {
                    outline: 2px solid map-get($colores, azul_focus);
                }
            }
            button {
                height: 40px;
                width: 100px;
                margin: 10px;
                padding: 5px;
                border-radius: 10px;
                background-color: map-get($colores, azul);
                border: none;
                color: aliceblue;
                font-weight: 900;
                cursor: pointer;
                &:hover {
                    background-color: map-get($colores, azul_hover);
                }
            }
            p {
                color: map-get($colores, rojo_error);
                display: none;
            }
        }
    }
    p {
        text-decoration: none;
        margin: 10px;
        color: map-get($colores, azul);
        a{
            text-decoration: none;
            margin: 10px;
            color: #796d6d;
            &:hover{
                color:  map-get($colores, azul_focus);
                font-weight: 900;
            }
        }
    }
}