.page_continer {
    display: flex;
    justify-content: center;
    .grid_container {
        width: 1350px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "info estado estado estado suge"
        "info public public public suge"
        ".    public public public suge"
        ".    public public public .   "
        ".    public public public .   "
        ;
        gap: 5px;
        margin: 10px;
        .grid_item {
            background-color: map-get($colores, blanco);
            margin: 10px;
            border: 1px solid map-get($colores, gris_bordes );
            box-shadow: 0px 0px 2px 2px #756c6c5c;
            -webkit-box-shadow: 0px 0px 2px 2px #756c6c5c;
            -moz-box-shadow: 0px 0px 2px 2px #756c6c5c;
        }
    
        .info_section {
            grid-area: info;
            height: 430px;
            border-radius: 15px;
            .home_foto_container {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .home_foto {
                    height: 200px;
                    width: 200px;
                    background-color: map-get($colores, gris_place);
                    text-align: center;
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
                    background-size: cover;
                    background-position: center;
                    border-radius: 50%;
                    box-shadow: 2px 9px 42px -1px #000000bf inset;
                    -webkit-box-shadow: 2px 9px 42px -1px #000000bf inset;
                    -moz-box-shadow: 2px 9px 42px -1px #000000bf inset;
                }
            }
            .nombre_container {
                padding: 10px;
                text-align: center;
                a {
                    h2 {
                        margin: 5px 0px 5px;
                        font-size: auto;
                        cursor: pointer;
                        color: map-get($colores, azul);
                        &:hover {
                            color: map-get($colores, azul_hover);
                        }
                    }
                }
            }

            .info_continer {
                padding: 15px;
                ul {
                    li {
                        margin-top: 5px;
                        i {
                            color: map-get($colores, gris_icon);
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .estado_section {
            grid-area: estado;
            border-radius: 15px;
            padding: 5px;
        }
    
        .public_section {
            grid-area: public;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            border-radius: 15px; 
            overflow-y: auto;

            .estados_container {
                display: flex;
                align-items: center;
                flex-direction: column;

                overflow-y: scroll;
                height: auto;
                flex: 1;
            }     
        }
    
        .sugerencia_section {
            grid-area: suge;
            border-radius: 15px;
            overflow: hidden;
            height: 500px;
            .sugerencias_title {
                padding: 5px;
                background-color: map-get($colores, azul_text_A );
                
            }
            .sugerencias {
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                div {
                    padding: 5px;
                    display: flex;
                    .foto_container {
                        width: 30%;
                        display: flex;
                        justify-content: center;
                        .foto {
                            height: 50px;
                            width: 50px;
                            background-color: map-get($colores, gris_place );
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png');
                            background-size: cover;
                            background-position: center;
                            border-radius: 50%;
                        }
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h4 {
                            font-size: 15px;
                            color: map-get($colores, gris_nombre);
                            &:hover {
                                color: map-get($colores, azul_hover);
                            }
                        }
                        a {
                            color: map-get($colores, azul );
                            cursor: pointer;
                            font-weight: 900px;
                        }
                    }
                }
            }
        }
    }
}