.modal_fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;   
    .modal_content {
        height: 200px;
        width: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center; 
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }  
}