header {
    position: sticky;
    top: 0;
    z-index: 2;
    nav {
        background-color: map-get($colores, blanco);
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid map-get($colores, gris_bordes );
        h1 {
            color: map-get($colores, azul );
        }
        .head_buscador {
            width: 30%;
            padding-left: 10px;
        }
        ul {
            display: flex;
            li {
                margin: 10px;
                a {
                    color: map-get($colores, gris_fuente);
                    &:hover {
                        color: map-get($colores, azul_focus );
                    }
                }
            }
        }
    }
}